# Stuff to ignore when computing language stats on GitHub.
# cf., <https://github.com/github/linguist>
.emacs.d/ProofGeneral/*                                linguist-vendored=true
.emacs.d/ProofGeneral-4.2/*                            linguist-vendored=true
local/texmf/tex/latex/glossaries/*.html                linguist-vendored=true
local/texmf/tex/latex/cristal-inria-fr~remy/exercise.* linguist-vendored=true
