# Ignore OSX-specific cruft
.DS_Store

# Ignore Haskell building stuff
.cabal-sandbox/
cabal.sandbox.config
cabal-dev/
.hpc/
*.hi
*.o
*.p_hi
*.prof
*.tix
cabal.config
dist-sandbox
dist/
.hsenv/

# Ignore editor cruft
.*.swp
.*.swo
*~
*#
.#*

# Ignore emacs mode stuff
*.elc
*.aux
*.cp
*.fn
*.fns
*.info
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
.depend

# Ignore general homedir specific stuff (mostly history files)
.bash_history
.coqtop_history
.ghc/ghci_history
.lesshst
.maple_history
.vim/.netrwhist

# Ignore OSX-specific homedir specific stuff
.CFUserTextEncoding
.Trash

# Ignore Ubuntu/Google-specific homedir stuff
.ICEauthority
.Xauthority
.dmrc
.gclient
.gitcookies
.xsession-errors
.xsession-errors.old
