# Display list for tab-completion with single tab only
set show-all-if-ambiguous On

# Enable unicode input
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

# TODO: play around with this to see if we want it
# <http://vim.wikia.com/wiki/Use_vi_shortcuts_in_terminal>
